<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discount Manager</title>
    <link rel="stylesheet" href="./css/discountStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css "
    />
  </head>

  <body>
    <div class="navbar">
      <h1 class="logo"><i class="fas fa-percent"></i> Discount Manager</h1>
      <div class="user">
        <span class="username"
          ><i class="fas fa-user-circle"></i> <%= user.username %></span
        >
        <a href="/logout" class="logout-btn"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </div>
    </div>

    <div class="discount-container">
      <% products.forEach(product=> { %>
      <div class="product-row" id="product-<%= product._id %>">
        <img
          src="<%= product.image %>"
          alt="<%= product.title %>"
          class="product-image"
        />

        <div class="product-details">
          <h3 class="product-title"><%= product.title %></h3>
          <% if (showDiscount(product.discount)) { %>
          <p class="product-discount">
            <i class="fas fa-tag"></i> <%= product.discount %>% OFF
          </p>
          <p class="product-price">
            <s><%= product.price %></s>
            <strong>
              <%= calculateNewPrice(product.price, product.discount) %> EGP
            </strong>
          </p>
          <% } else { %>
          <p class="product-price"><%= product.price %> EGP</p>
          <% } %>

          <div class="discount-input">
            <form action="/api/discount" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" value="<%= product._id %>" name="id" />
              <input
                type="number"
                placeholder="Discount %"
                min="0"
                max="100"
                name="discount"
              />
              <button class="apply-btn" type="submit">
                <i class="fas fa-check"></i> Apply
              </button>
            </form>
            <form action="/api/discount" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" value="<%= product._id %>" name="id" />
              <button class="remove-btn" type="submit">
                <i class="fas fa-times"></i> Remove
              </button>
            </form>
          </div>
        </div>
        <form
          id="edit-form-<%= product._id %>"
          class="edit-form-row hidden"
          action="/api/products/<%= product._id %>?_method=PUT"
          method="POST"
        >
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div>
            <label for="title-<%= product._id %>">Product Title</label>
            <input
              type="text"
              id="title-<%= product._id %>"
              name="title"
              value="<%= product.title %>"
              required
            />
          </div>
          <div>
            <label for="description-<%= product._id %>">Description</label>
            <textarea
              name="description"
              id="description-<%= product._id %>"
              required
            >
<%= product.description %></textarea
            >
          </div>
          <div>
            <label for="category-<%= product._id %>">Category</label>
            <input
              type="text"
              id="category-<%= product._id %>"
              name="category"
              value="<%= product.category %>"
              required
            />
          </div>
          <div>
            <label for="price-<%= product._id %>">Price</label>
            <input
              type="number"
              id="price-<%= product._id %>"
              name="price"
              value="<%= product.price %>"
              required
            />
          </div>
          <div>
            <label for="image-<%= product._id %>">Image URL</label>
            <input
              type="text"
              id="image-<%= product._id %>"
              name="image"
              value="<%= product.image %>"
              required
            />
          </div>
          <div>
            <label for="discount-<%= product._id %>">Discount</label>
            <input
              type="number"
              id="discount-<%= product._id %>"
              name="discount"
              value="<%= product.discount %>"
              required
            />
          </div>
          <div class="edit-form-buttons">
            <button type="submit" class="save-btn">
              <i class="fas fa-save"></i> Save Changes
            </button>
            <button
              type="button"
              class="cancel-btn"
              onclick="toggleEditForm('<%= product._id %>')"
            >
              <i class="fas fa-times"></i> Cancel
            </button>
          </div>
        </form>

        <div class="remove-product">
          <form
            action="/api/products/<%= product._id %>?_method=DELETE"
            method="POST"
          >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" title="Delete Product">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>
        <div class="edit-section">
          <button class="edit-btn" data-product-id="<%= product._id %>">
            <i class="fas fa-edit"></i> Edit
          </button>
        </div>
      </div>
      <% }); %>
    </div>

    <script src="./javascript/discount_manager.js"></script>
  </body>
</html>
